<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Управление пользователями</title>
  <link rel="stylesheet" th:href="@{${contextPath}/resources/css/style.css}" type="text/css"/>
</head>
<body>
<div>
  <h1>Управление пользователями</h1>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Email</th>
      <th>Пароль</th>
      <th>Роли</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
      <td th:text="${user.id}">1</td>
      <td th:text="${user.username}">username</td>
      <td th:text="${user.email}">email</td>
      <td th:text="${user.password}">password</td>
      <td>
        <span th:each="role : ${user.roles}" th:text="${role.name} + '; '">Role</span>
      </td>
      <td>
        <form th:action="@{/admin}" method="post">
          <input type="hidden" name="userId" th:value="${user.id}"/>
          <input type="hidden" name="action" value="delete"/>
          <button type="submit">Удалить пользователя</button>
        </form>
        <form th:action="@{/updateUser}" method="get">
          <input type="hidden" name="userId" th:value="${user.id}"/>
          <button type="submit">Изменить пользователя</button>
        </form>
        <form th:action="@{/admin/assignAdminRole}" method="post">
          <input type="hidden" name="userId" th:value="${user.id}"/>
          <button type="submit">Добавить Права Администратора</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/admin/users/new}">
    <button type="button">Добавить нового пользователя</button>
  </a>
  <a th:href="@{/}">Главная</a>
</div>
</body>
</html>