<!DOCTYPE html>

<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<title>All Users</title>
</head>

<body>
<nav class="navbar navbar-expand-xl navbar-dark text-light bg-dark">
    <div class="container-fluid">
        <div>
            <span class="navbar-brand" th:text="${#authentication.name}">Navbar</span>
            <span> WITH ROLES </span>
            <span sec:authorize="hasRole('ROLE_ADMIN')">ADMIN</span>
            <span sec:authorize="hasRole('ROLE_ADMIN')">USER</span>
        </div>

        <a class="text-decoration-none font-weight-bold text-secondary"
           th:if="${#authentication.principal.username != null}"
           th:href="@{/logout}">LOGOUT</a>
        <a class="text-decoration-none font-weight-bold text-secondary"
           th:if="${#authentication.principal.username == null}"
           th:href="@{/login}">LOGIN</a>
    </div>
</nav>

<!--Основная страница-->
<div class="container-fluid">
    <div class="row flex-nowrap">
        <!--    левый сайдбар-->
        <div class="col-auto col-md-9 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link active" href="/admin">ADMIN PANEL</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/user">USER INFORMATION</a>
                    </li>
                </ul>
            </div>
        </div>

       <!--    Основная страница-->
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 bg-light">
            <div class="col py-3">
                <div class="p-2">
                    <h1>ADMIN PANEL</h1>
                </div>

<!--                <nav>-->
<!--                    <div class="nav nav-tabs" id="nav-tab" role="tablist">-->
<!--                        <button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab"-->
<!--                                data-bs-target="#nav-users" type="button" role="tab" aria-controls="nav-users"-->
<!--                                aria-selected="true">USERS TABLE-->
<!--                        </button>-->
<!--                        <button class="nav-link" id="new-user-tab" data-bs-toggle="tab" data-bs-target="#newUser"-->
<!--                                type="button" role="tab" aria-controls="newUser" aria-selected="false">NEW USER-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </nav>-->

                <nav class="nav nav-pills" id="pills-tab" role="tablist">
                    <a class="nav-link active" id="pills-nav-users-tab" data-bs-toggle="pill" href="#pills-nav-users"
                       role="tab"
                       aria-controls="pills-home" aria-selected="true">USERS TABLE</a>
                    <a type="button" class="nav-link" id="pills-new-user-tab" data-bs-toggle="pill" href="#new-user" role="tab"
                       aria-controls="pills-new-user" aria-selected="false">NEW USER</a>

<!--                    <button class="nav-link" id="new-user-tab" data-bs-toggle="tab" data-bs-target="#newUser"-->
<!--                            type="button" role="tab" aria-controls="newUser" aria-selected="false">NEW USER-->
<!--                    </button>-->
                </nav>

                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-nav-users" role="tabpanel" aria-labelledby="pills-nav-users-tab">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Age</th>
                                <th>Username</th>
                                <th>Roles</th>
                            </tr>
                            </thead>
                            <tr th:each="user : ${allUsers}">
                                <td th:utext="${user.getId()}"></td>
                                <td th:utext="${user.getName()}"></td>
                                <td th:utext="${user.getSurname()}"></td>
                                <td th:utext="${user.getAge()}"></td>
                                <td th:utext="${user.getUsername()}"></td>
                                <td th:utext="${user.getRoles()}"></td>
                                <td>
                                    <a type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                       th:data-bs-target="${'#editModal' + user.id}">EDIT</a>
                                </td>
                                <td>
                                    <a type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                       th:data-bs-target="${'#deleteModal' + user.id}">DELETE</a>
                                </td>
                            </tr>
                        </table>
                    </div>


                    <div class="tab-pane fade" id="new-user" role="tabpanel" aria-labelledby="pills-new-user-tab">
                        <div class="p-2 border">
                            <h5>ADD NEW USER</h5>
                        </div>
                        <div class="border p-3 bg-white">
                            <div class="row justify-content-center align-items-center bg-white">
                                <div class="col-4">
                                    <form class="text-center" th:method="POST" th:action="@{/admin}"
                                          th:object="${newUser}">
                                        <div class="form-group fw-bold">
                                            <div class="form-group m-3">

                                                <div class="form-group m-3">
                                                    <label for="name" class="col-form-label">NAME</label>
                                                    <input type="text" class="form-control" id="name"
                                                           th:field="*{name}"/>
                                                    <div style="color:red" th:if="${#fields.hasErrors('name')}"
                                                         th:errors="*{name}">Name Error
                                                    </div>
                                                </div>

                                                <div class="form-group m-3">
                                                    <label for="surname" class="col-form-label">SURNAME</label>
                                                    <input type="text" class="form-control" id="surname"
                                                           th:field="*{surname}"/>
                                                    <div style="color:red" th:if="${#fields.hasErrors('surname')}"
                                                         th:errors="*{surname}">Surname Error
                                                    </div>
                                                </div>

                                                <div class="form-group m-3">
                                                    <label for="age" class="col-form-label">AGE</label>
                                                    <input type="text" class="form-control" id="age"
                                                           th:field="*{age}"/>
                                                    <div style="color:red" th:if="${#fields.hasErrors('age')}"
                                                         th:errors="*{age}">Age Error
                                                    </div>
                                                </div>

                                                <div class="form-group m-3">
                                                    <label for="username" class="col-form-label">USERNAME</label>
                                                    <input type="text" class="form-control" id="username"
                                                           th:field="*{username}"/>
                                                    <div style="color:red" th:if="${#fields.hasErrors('username')}"
                                                         th:errors="*{username}">Username Error
                                                    </div>
                                                </div>

                                                <div class="form-group m-3">
                                                    <label for="password" class="col-form-label">PASSWORD</label>
                                                    <input type="text" class="form-control" id="password"
                                                           th:field="*{password}"/>
                                                    <div style="color:red" th:if="${#fields.hasErrors('password')}"
                                                         th:errors="*{password}">Password Error
                                                    </div>
                                                </div>

                                                <div class="form-group m-3">
                                                    <label for="roles" class="col-form-label">ROLES</label>
                                                    <select class="form-select" id="roles"
                                                            th:field="*{roles}" multiple>
                                                        <option value="1">USER</option>
                                                        <option value="2">ADMIN</option>
                                                    </select>
                                                    <div style="color:red" th:if="${#fields.hasErrors('roles')}"
                                                         th:errors="*{roles}">Roles Error</div>
                                                </div>

                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success">ADD</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    <!--Модальное окно-->
        <div th:each="user : ${allUsers}">
            <div class="modal fade" th:id="'editModal' + ${user.id}" tabindex="-1" aria-labelledby="editModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">EDIT USER</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <form th:action="@{/admin/{id}(id=${user.id})}" th:object="${user}" th:method="PUT">
                            <div class="modal-body col-md text-center">
                                <label for="name0"><b>Name</b></label>
                                <input th:name="name" th:type="text" class="form-control" id="name0"
                                       th:value="${user.name}"/>
                                <br>
                                <label for="surname0"><b>Surname</b></label>
                                <input th:name="surname" th:type="text" class="form-control" id="surname0"
                                       th:value="${user.surname}"/>
                                <br>
                                <label for="age0"><b>Age</b></label>
                                <input th:name="age" th:type="text" class="form-control" id="age0"
                                       th:value="${user.age}"/>
                                <br>
                                <label for="username0"><b>Username</b></label>
                                <input th:name="username" th:type="text" class="form-control" id="username0"
                                       th:value="${user.username}"/>
                                <br>
                                <label for="password0"><b>Password</b></label>
                                <input th:name="password" type="text" class="form-control" id="password0"
                                       th:value="${user.password}"/>
                                <br>
                                <label for="roles0"><b>Roles</b></label>
                                <select th:name="roles" class="form-select" id="roles0" multiple>
                                    <option value="1" th:selected="${user.roles.contains('ROLE_USER')}">USER</option>
                                    <option value="2" th:selected="${user.roles.contains('ROLE_ADMIN')}">ADMIN</option>
                                </select>
                                <br>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">SAVE</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--Модальное окна удаления  -->
        <div th:each="user : ${allUsers}">
            <div class="modal fade" th:id="'deleteModal' + ${user.id}" tabindex="-1"
                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">DELETE USER</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <form th:action="@{/admin/{id}/delete(id=${user.id})}" th:method="DELETE">
                            <div class="modal-body col-md text-center">
                                <label for="id"><b>ID</b></label>
                                <input th:name="id" th:type="text" class="form-control" id="id"
                                       th:value="${user.id}" disabled/>
                                <br>
                                <label for="name1"><b>Name</b></label>
                                <input th:name="name" th:type="text" class="form-control" id="name1"
                                       th:value="${user.name}" disabled/>
                                <br>
                                <label for="surname1"><b>Surname</b></label>
                                <input th:name="surname" th:type="text" class="form-control" id="surname1"
                                       th:value="${user.surname}" disabled/>
                                <br>
                                <label for="username1"><b>Username</b></label>
                                <input th:name="username" th:type="text" class="form-control" id="username1"
                                       th:value="${user.username}" disabled/>
                                <br>
                                <label for="roles1"><b>Roles</b></label>
                                <input th:name="roles" th:type="text" class="form-control" id="roles1"
                                       th:value="${user.roles}" disabled/>
                                <br>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger">DELETE</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Конец модального окна удал -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</div>



</body>

</html>