<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login</title>
</head>
<body>
<form th:action="@{/login}" method="post">
    <div>
        <label>логин:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>пароль:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button type="submit">Ввод</button>
    </div>
</form>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/}">Вернуться на главную страницу</a>
</div>
</body>
</html>