<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
</head>
<body>
<h1>Новости</h1>
<p>Добро пожаловать на страницу новостей!</p>

<!-- Добавим вывод данных текущего пользователя -->
<p th:if="${currentUser != null}">
    Добро пожаловать, <span th:text="${currentUser.username}">User</span>!
</p>
<p th:if="${currentUser != null}">
    Ваш email: <span th:text="${currentUser.email}">user@example.com</span>
</p>

</body>
</html>