<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<br>

<p>User id: <span th:text="${user.id}"></span> </p>
<br>
<p>User name: <span th:text="${user.username}"></span> </p>
<br>
<p>User password: <span th:text="${user.password}"></span> </p>
<br>
<p>User email: <span th:text="${user.email}"></span> </p>
</body>
</html>